{{ with .Site.Data.pricing}}
{{ if .enable}}
<section class="pricing" id="pricing">
  <div class="container">
        <div class="section-title">
          <h2>{{.title}}</h2>
           </div>
            <!-- <a href="images/geosim3dprocess.png" data-source="images/geosim3dprocess.png"
               title="None" alt="None"> -->
                <img src="images/geosim_process.png" alt="None" style="display: block; margin: 0 auto;" >
      </div>   
      {{ range .itemPrices}}
      <!-- <div class="col-lg-4 col-md-6">
        <div class="pricing-wraper">
          <div class="pricing-item">
            {{if .badge}}
            <span class="pricing-item-badge">Popular</span>
            {{end}}
            <span class="price">
                <sup>$</sup>{{.price}}
            </span>
            <h3>{{.packcage}}</h3>
            <p>
               {{.description}}
            </p>
          </div>
          <a href="{{ .buttonTarget | absURL}}" class="btn btn-primary">Join Us</a>
        </div>
      </div> -->
      {{end}}
</section>
{{end}}
{{end}}